/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Root */

:root{

    /* Colors */
    --primary-white : #f9f9f9;
    --primary-black : #0c0c0c;
    --primary-grey : #9c9c9c;
    --primary-purple : #4149D9;
    --primary-blue : #00BBFF;
    --primary-dark-blue: #0000aa;
    --primary-cyan : #4285F4;
    --primary-green : #42B883;
    --primary-emerald : #38B2AC;
    --primary-lime : #3C873A;
    --primary-orange : #FF8000;
    --primary-red : #d62a0c;
    --primary-teal : #092E20;
    --primary-indigo : #4f5b93;
    --primary-violet : #563d7c;
    --primary-yellow : #f1e05a;
    
    /* Borders */
    --border-grey : #9c9c9c6b;
    --border-black : #0c0c0c6b;
    --border-purple : #4149d9e3;
    
    /* Hover */
    --hover-light : #FFDAB9;

    /* Background */
    --bg-light-blue : #EFF4FB;
    --bg-overlay-black : #0C0C0C35;

    /* Font */
    --font : 'Raleway', sans-serif;
    --font-size-title : 2rem;
    --font-size-subtitle : 1.5rem;
    --font-size-text : 1rem;
    --font-size-label : 0.8rem;

    /* Font Weight */
    --fw-bold : 700;
    --fw-semibold : 600;
    --fw-medium : 500;
    --fw-regular : 400;

    /* Transition */
    --transition: color 0.3s ease-in-out;
}

/* Overall Parameters */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main */

#wrapper {
    font-family: var(--font);
    font-size: var(--font-size-text);
    color: var(--primary-black);
    line-height: 1.5rem;
    background-color: var(--bg-light-blue);
}

#mainpage {
    min-height: 100vh;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-purple);
    
    & a {
        text-decoration: none;
        color: var(--primary-white);
        font-weight: var(--fw-bold);
        transition: var(--transition);
    }

    & a:hover {
        color: var(--hover-light);
    }

    & a:active {
        color: var(--primary-grey);
    }
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Main */

#forum {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 5vh, 2rem);
}

/*
***************************
        Display Page
***************************
*/

/* Search Container */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(2rem, 10vh, 5rem);
    padding: clamp(1rem, 5vh, 2rem);

    & .search {
        width: clamp(300px, 80vw, 1100px);
        border-radius: 15px;
        padding: 25px;
        color: var(--primary-white);
        background: linear-gradient(to right,var(--primary-purple), var(--primary-blue));
    
        & label {
            display: flex;
            align-items: center;
            font-size: var(--font-size-subtitle);
            font-weight: var(--fw-bold);
            margin-bottom: 15px;
        }
    
        & input {
            width: clamp(300px, 80vw, 850px);
            height: 50px;
            border-radius: 5px;
            border: 0.4px solid var(--primary-grey);    
            padding: 10px;
            margin-right: 10px;
        }
        
        & .search-btn {
            height: 50px;
            width: 185px;
            background: none;
            color: var(--primary-white);
            font-size: var(--font-size-text);
            font-weight: var(--fw-bold);
            border: 2px solid var(--primary-white);
            border-radius: 10px;
            cursor: pointer;            

            &:hover {
                background: var(--primary-white);
                color: var(--primary-purple);
            }

            &:active {
                background: var(--primary-purple);
                color: var(--primary-white);
            }
        }
    }
}

/* Information */

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(2rem, 10vh, 5rem);
    padding: clamp(1rem, 5vh, 2rem);

    & .information {
        width: clamp(300px, 80vw, 1100px);
        border-radius: 15px;
        padding: 25px;
        color: var(--primary-white);
        background: linear-gradient(to right,var(--primary-purple), var(--primary-blue));
        font-size: var(--font-size-text);
    
        & a {
            text-decoration: none;
            color: var(--primary-white);
            transition: var(--transition);
        }
    
        & a:hover {
            color: var(--hover-light);
        }

        & a:active {
            color: var(--primary-grey);
        }
    }
}

/* Main Container */

.main-container {
    display: flex;
    gap: clamp(1rem, 5vh, 2rem);
    
    & .contents-container {
        width: clamp(300px, 80vw, 765px);
        height: max-content;
        padding: clamp(1rem, 5vh, 2rem);
        background-color: var(--primary-white);
        border-radius: 25px;
        box-shadow: inset 0px 8px 0px -2px var(--primary-purple),
                    0 0 10px rgba(0, 0, 0, 0.1);

        & .contents-list {
            & .content-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                padding: 0.5rem 0;
                color: var(--primary-black);
                transition: all 0.2s ease;
                margin-top: 10px;
                border-bottom: 1px solid var(--border-grey);

                & .item-category {
                    display: flex;
                    align-items: center;
                    width: 100px;
                    justify-content: space-between;
                    gap : 0.5rem;

                    & i {
                        color: var(--primary-dark-blue);
                    }

                    & a {
                        font-weight: var(--fw-semibold);
                    }

                    & span {
                        color: var(--primary-grey)
                    }
                }
                              
                & #btn-see-all {
                    border-radius: 25px;
                    padding: 0.25rem 0.5rem ;
                    border: 2px solid var(--border-purple);
                    color: var(--border-purple);    
                    transition: var(--transition);

                    &:hover {
                        border: 2px solid var(--border-purple);
                        color: var(--primary-white);
                        background-color: var(--primary-purple);
                    }

                    &:active {
                        border: 2px solid var(--border-purple);
                        background-color: var(--primary-white);
                        color: var(--primary-purple);
                    }

                }

            }

            & .content-item:hover {
                color: var(--primary-purple);
            }

            & .home-topics-list {
                margin-top: 10px;

                & .home-topic-item {
                    display: flex;
                    justify-content: space-between;

                    & .topic-item-details {
                        display: flex;
                        justify-content: space-between;
                        min-width: 50%;
                        color: var(--primary-grey);   
                        
                        & .topic-item-specs {
                            display: flex;
                            justify-content: space-between;
                            gap: 20px;
                        }
                    }
                }
                
            }
        }
        
        & .contents-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;

            & .contents-header-title {
                display: flex;
                gap : 0.5rem;

                & .edit-btn {
                    cursor: pointer;
                    background: none;
                    border: none;
                    font-size: var(--font-size-text);
                    font-weight: var(--fw-bold);
                    color: var(--primary-purple);
                    transition: var(--transition);
                
                    &:hover {
                        color: var(--primary-dark-blue);
                    }
                
                    &:active {
                        color: var(--primary-grey);
                    }

                }
            }
        }
    }
    
    & .aside-container {
        width: clamp(300px, 80vw, 300px);
        max-height: max-content;
        padding: clamp(1rem, 5vh, 2rem);
        background-color: var(--primary-white);
        border-radius: 25px;
        box-shadow: inset 0px 8px 0px -2px var(--primary-blue),
                    0 0 10px rgba(0, 0, 0, 0.1)
    }

    & a {
        text-decoration: none;
        color: var(--primary-black);
        transition: var(--transition);
    }

    & a:hover {
        color: var(--primary-purple);
    }

    & a:active {
        color: var(--primary-grey);
    } 

    & li {
        list-style: none;
    }

}

/* Contents */

.contents-container {

    & .contents-form {       
    display: none;
    width: clamp(300px, 80vw, 685px);
    background-color: var(--primary-white);
    border-radius: 25px;
    border: 1px solid var(--border-grey);
    box-shadow: inset 0px 8px 0px -2px var(--primary-purple);

        & .contents-form-header {
            margin-bottom: 0.5rem;
            border-bottom: 1px solid var(--border-grey);

            & .form-title {
                display: flex;
                align-items: center;
                position: relative;
                border: none;
                outline : none;
                font-size: var(--font-size-text);
                font-weight: var(--fw-semibold);
                padding: 1rem;
                gap: 0.5rem;

                & input {
                    width: clamp(150px, 80vw, 500px);
                    height: 25px;
                    border-radius: 10px;
                    border: 1px solid var(--border-grey);
                    padding-left: 0.5rem;
                    
                    &:focus {
                        outline: 1px solid var(--primary-purple);
                    }

                    &::placeholder {
                        color: var(--primary-grey);
                        font-weight: var(--fw-semibold);
                    }
                
                }

                & .close-btn {
                    cursor: pointer;
                    background: none;
                    position: absolute;
                    right: 1rem;
                    border: none;
                    font-size: var(--font-size-text);
                    font-weight: var(--fw-bold);
                    color: var(--primary-black);
                    transition: var(--transition);

                    &:hover {
                        color: var(--primary-purple);
                    }

                    &:active {
                        color: var(--primary-grey);
                    }
                }
            }
        }

        & .contents-form-main {
            padding: 0.5rem;

            & label {
                padding: 0.5rem 1rem;
                font-size: 14px;
                font-weight: var(--fw-semibold);
            }

            & textarea {
                resize: none;
                border: none;
                outline : none;
                background: none;
                width: 100%;
                padding: 0.5rem 1rem;
                font-size: var(--font-size-text);
                font-weight: var(--fw-regular);

                &:focus {
                    border-radius: 10px;
                    outline: 1px solid var(--primary-purple);
                }

                &::placeholder {
                    color: var(--primary-grey);
                    font-weight: var(--fw-semibold);
                }
            }
        }

        & .modification-form {
            display: flex;

            & .form-content {

                & input {
                    border-radius: 10px;
                    height: 25px;
                    padding-left: 0.5rem;
                    border: 1px solid var(--border-grey);
                    
                    &:focus {
                        outline: 1px solid var(--primary-purple);
                    }
                    
                    &::placeholder {
                        color: var(--primary-grey);
                        font-weight: var(--fw-semibold);
                    }
                }
                
            }
        }

        & .contents-form-info {
            display: block;
            line-height: 1rem;
            padding: 0.5rem 1rem;
            font-size: 10px;
            color: var(--primary-grey);
            font-weight: var(--fw-semibold);
        }

        & .contents-form-footer {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            gap: 1rem;
            border: none; 

            & .btn-publish-content {
                cursor: pointer;
                background: none;
                border: none;
                font-size: var(--font-size-text);
                font-weight: var(--fw-bold);
                color: var(--primary-purple);
                transition: var(--transition);

                &:hover {
                    color: var(--primary-blue);
                }

                &:active {
                    color: var(--primary-grey);
                }
            }

            & .delete-btn {
                cursor: pointer;
                background: none;
                border: 1px solid var(--primary-red);
                color: var(--primary-red);
                transition: var(--transition);

                &:hover {
                    background-color: var(--primary-red);
                    color: var(--primary-white);
                }

                &:active {
                    color: var(--primary-white);
                    background-color: var(--primary-grey);
                    border: 1px solid var(--primary-grey);
                }
            }
        }
    }

    & .contents-form.active {
        display: block;
    }   

}

.contents-main {
    
    & .discussion-item {
        display: flex;
        flex-direction: column;
        padding: 1rem 0.5rem;
        margin-bottom: 0.5rem;
        gap : 0.75rem;

        & .discussion-item-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .discussion-item-info {
                display: flex;
                justify-content: space-between;
                
            }
        }

        & a {
            text-decoration: none;
            color: var(--primary-black);
            transition: var(--transition);

            &:hover {
                color: var(--primary-purple);
            }

            &:active {
                color: var(--primary-grey);
            }
        }

        & span {
            font-style: italic;
            font-size: 12px;
            text-align: right;
        }

        & .message-delete {
            color : var(--primary-white);
            border : none;
            background: none;
            text-transform: uppercase;
            cursor: pointer;
            font-size: var(--font-size-label);
            font-weight: var(--fw-bold);
            transition: var(--transition);
    
            &:hover {
                color: var(--primary-red);
                background-color: var(--primary-white);
            }
    
            &:active {
                color: var(--primary-black);
            }
        }
    }

    & .contributor {
        border: 1px solid var(--border-grey);
        background-color: var(--primary-grey);
        border-radius: 25px;
        color: var(--primary-white);
        max-width: 45%;
        width: fit-content;
        height: auto;
        margin-left: 0.5rem;
    }

    & .author {
        border: 1px solid var(--border-purple);
        border-radius: 25px;
        background-color: var(--border-purple);
        color: var(--primary-white);
        max-width: 45%;
        width: fit-content;
        height: auto;
        margin-left: auto;
    }
   
}

/* Buttons */

.btn {
    cursor : pointer;
    background: none;
    border : 1px solid var(--primary-black);
    border-radius: 5px;
    font-size: var(--font-size-label);
    font-weight: var(--fw-regular);
    padding: 0.2rem;
}

#btn-new-content:hover {
    border: 1px solid var(--primary-purple);
    color: var(--primary-purple);
}

#btn-new-content:active {
    background-color: var(--primary-purple);
    color: var(--primary-white);
}


/*
***************************
    Login/Register Page
***************************
*/

/* Login */

.no-navbar .navbar {
    display: none;
}

.login-page #wrapper,
.register-page #wrapper {
    background-color: var(--bg-overlay-black)    !important;
}

.no-footer .footer {
    display: none;
}

.back-action {
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-white);
    transition: var(--transition);
    font-weight: var(--fw-semibold);

    &:hover {
        color: var(--hover-light);
    }

    &:active {
        color: var(--primary-grey);
    }
}

.login-page,
.register-page {
    background-image: url('../img/bg-forum.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    backdrop-filter: blur(5px);
}

.container-login,
.container-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(200px, 80vw, 500px);
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-white);
    border-radius: 15px;
    padding: 54px 0;

    & .container-form-login,
    .container-form-register {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            font-size: 32px;
            font-weight: var(--fw-bold);
            color: var(--primary-black);
            margin-bottom: 40px;
        }
        
        & .form-header {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & input {
                height: 50px;
                width: 325px;
                border-radius: 10px;
                border: 0.4px solid var(--primary-grey);    
                padding: 10px;
                margin-bottom: 18px;
                font-size: var(--font-size-text);
            }
           
            &:focus {
                outline: 1px solid var(--primary-purple);
    
            }

            &::placeholder {
                color: var(--primary-grey);
            }

            & p {
                text-align: center;
            }

            & a {
                margin-top: 10px;
                color: var(--primary-black);        
            }
        }

        & .remember {
            margin: 22px 0 27px 0;
            
            & input {
                accent-color: var(--primary-purple);
                margin-right: 5px;
            }
            
            & label {
                font-size: var(--font-size-text);
                color: var(--primary-grey);
            }
        }

        & .accept-terms {
            margin: 22px 0 27px 0;
            padding: 0 60px;
            font-size: 14px;
            line-height: 15px;
            display: flex;

            & input {
                accent-color: var(--primary-purple);
                margin-right: 5px;
            }
            
            & label {
                color: var(--primary-grey);
                padding:0 15px
            }

            & a {
                text-decoration: none;
                color: var(--primary-black);        
            }
        }

        & .confirm {

            display: flex;
            flex-direction: column;
            align-items: center;

            & .btn-login,
            .btn-register {
                width: 290px;
                height: 50px;
                border-radius: 15px;
                cursor: pointer;
                font-size: var(--font-size-text);
                font-weight: var(--fw-bold);
                text-transform: uppercase;
                color: var(--primary-white);
                background-color: var(--primary-purple);
                border: none;
            }

            & .btn-login:hover,
            .btn-register:hover {
                background-color: var(--primary-white);
                color: var(--primary-purple);
                border: 2px solid var(--primary-purple);
            }

            & .btn-login:active,
            .btn-register:active {
                background-color: var(--primary-purple);
                color: var(--primary-white);
                border: none;
            }
        }
    }

    & .register-link,
    .login-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        margin-top: 53px;

        & a {
            text-decoration: none;
            color: var(--primary-purple);
            font-weight: var(--fw-semibold);
        }

        & a:hover {
            color: var(--primary-blue);
        }

        & a:active {
            color: var(--primary-grey);
        }
    }
}


/*
***************************
      Profile Page
***************************
*/

.profile-main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid var(--border-grey);
    margin-bottom: 1rem;
    padding: 1rem 0;

    & i {
        color: var(--primary-red);
        margin-right: 1rem;
    }

    & p {
        color : var(--primary-grey);
    }

    & .subscription-date {
        display: flex;
        gap: 1rem;
    }

}

.contents-created-topics,
.contents-created-posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    & .contents-topics-list,
    .contents-posts-list {

        & .post-topic-item,
        .post-post-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0;
            border-bottom: 1px solid var(--border-grey);

        }

        & .post-topic-wrapper,
        .post-post-wrapper {

            display : flex;
            justify-content: space-between;
            gap: 1rem;


            & .post-topic-category,
            .post-post-category {
                width: 100px;
                color: var(--primary-purple);
            }
    
        }
        
        & .post-topic-date,
        .post-post-date {
            display: flex;
            gap: 0.5rem;
            color: var(--primary-grey);
        }
    }
}