/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Overall Parameters */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #4149D9;
    ;
}

/* Body */

body {
    font-family: 'Raleway', sans-serif;

    background-color: #EFF4FB;
}

/* Navbar */

.navbar {
    display: flex;
    padding: 15px;
    gap: 50px;
    width: 100vw;
    background-color: #4149D9;
    font-weight: 600;

    & a {
        text-decoration: none;
        color: #f9f9f9;
        transition: color 0.3s ease-in-out;
    }
    & a:hover {
        color: #FFDAB9; 
    }
}

/* Footer */

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}


/* Home */


/* Search-bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
}

.search {
    width: 1100px;
    height: 160px;
    border-radius: 15px;
    padding: 25px;
    color: #f9f9f9;
    background: linear-gradient(to right,#4149D9, #00BBFF);

    & label {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    & input {
        height: 50px;
        width: 820px;
        border-radius: 5px;
        border: 0.4px solid #9c9c9c;    
        padding: 10px;
        margin-right: 10px;
    }

    & .search-btn {
        height: 50px;
        width: 185px;
        background: none;
        color: #f9f9f9;
        font-size: 18px;
        font-weight: 300;
        border: 2px solid #f9f9f9;
        border-radius: 10px;
    }
}
